@import '../../../assets/sass/partials/utils';
@import '../../../assets/sass/partials/theme-default';
.comingsoon {
  @include coming-soon('../../../../assets/img/cs_opt.png');
}

article {
  max-height: 100%;
  display: inline-grid;
  grid-template-rows: [image-header-start] 60% [image-header-end header-start] 2em [header-end content-start] 1fr [content-end footer-start] 2em [footer-end];
  row-gap: 0.5em;
  grid-template-columns: auto;
  box-shadow: 5px 10px 10px darken(rgba-secondary-2(0.7), 10%);
  .article-header-image {
    object-fit: contain;
    grid-row: image-header-start/image-header-end;
    width: 100%;
    height: 100%;
  }
  .article-header {
    grid-row: header-start/header-end;
    justify-self: center;
    align-self: center;
    font-weight: 600;
  }
  .article-content {
    grid-row: content-start/content-end;
    justify-self: center;
    align-self: center;
    @include text-wrap-ellipsis;
    max-width: 95%;
    max-height: 100%;
    font-size: 0.9em;
    p {
      @include text-wrap-ellipsis;
    }
  }
  .article-footer {
    grid-row: footer-start/footer-end;
    justify-self: center;
    align-self: center;
    font-size: 0.7em;
  }
}
