@import '../../../assets/sass/partials/utils';
@import '../../../assets/sass/partials/theme-default';
@import '../../../assets/sass/partials/breakpoints';

article {
  max-height: 100%;
  cursor: pointer;
  display: inline-grid;
  grid-template-rows:
    [image-header-start]
    1fr
    [image-header-end caption-start]
    min-content
    [caption-end header-start]
    min-content
    [header-end content-start]
    min-content
    [content-end footer-start]
    min-content
    [footer-end];
  row-gap: 0.5em;
  grid-template-columns: auto;
  border-radius: 10px;
  @include larger-screen {
    box-shadow: 5px 5px 10px darken(rgba-secondary-2(0.7), 10%);
  }
  @include medium-screen {
    box-shadow: 5px 5px 10px darken(rgba-secondary-2(0.7), 10%);
  }
  background-color: $color-primary; // lighten($color-secondary, 25%);
  border: 2px solid darken($color-primary, 5%);
  .article-header-image {
    object-fit: cover;
    grid-row: image-header-start/image-header-end;
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0 0;
  }
  .article-caption {
    grid-row: caption-start/caption-end;
    @include image-caption;
  }
  .article-header {
    grid-row: header-start/header-end;
    justify-self: center;
    align-self: center;
    @include primary-bold-font;
  }
  .article-content {
    grid-row: content-start/content-end;
    justify-self: center;
    align-self: center;
    @include text-wrap-ellipsis;
    max-width: 95%;
    max-height: 100%;
    font-size: 0.9em;
    p {
      @include text-wrap-ellipsis;
    }
  }
  .article-footer {
    grid-row: footer-start/footer-end;
    justify-self: center;
    align-self: center;
    font-size: 0.7em;
  }
}
