<div class="aboutus">
  <h6>About Us</h6>
  <pre>
    <b>The Little Journal of Northeast India</b> strives to illuminate the region’s quintessential qualities through people’s
    experiences in the region. Our primary focus is to share undiscovered, untold stories of the region. We are interested
    in the everyday stories of people, places and things based on or inspired from northeast India.

    The journal seeks to spotlight poets, writers, photographers and artists of all kinds who have a story to tell. Our
    published poems, flash fiction, photographs, artwork, interviews, and essays explore and celebrate the underrepresented,
    yet rich and diverse region of northeast India. We are looking for pieces that stick with people long after they have
    first read or witnessed it.

    The Little Journal is based on the saying <b>“Good things come in small packages.”</b> The journal is one of the smallest
    publishers of Northeast India and is aimed at presenting high quality pieces that are linguistically and aesthetically
    beautiful, ambitious and inspiring. To know more about submitting your work for our first issue, visit our Submissions
    page.
  </pre>
</div>
