<div class="header">
  <img class="header-menu-list" src="../../assets/img/icons/_ionicons_svg_md-list.svg" (click)="openModal()" />
  <ul class="header-nav">
    <li *ngFor="let header of headers">
      <a href="#" [routerLink]="header.route" routerLinkActive="link-active">{{
        header.label
      }}</a>
    </li>
  </ul>
  <div class="socialIcons">
    <ul>
      <li *ngIf="showA2hsIcon">
        <a href="#" target="_self" (click)="addToHomeScreen($event)">
          <img src="../../assets/img/icons/add_to_home_screen.svg" alt="Add TLJNE as an app to your home screen!"
            class="A2HS" />
        </a>
      </li>
      <li>
        <a href="https://www.facebook.com/thelittlejournalofneindia/" target="_blank">
          <img src="../../assets/img/icons/_ionicons_svg_logo-facebook.svg" alt="Facebook" />
        </a>
      </li>
      <li>
        <a href="https://twitter.com/TNeindia" target="_blank">
          <img src="../../assets/img/icons/_ionicons_svg_logo-twitter.svg" alt="Twitter" />
        </a>
      </li>

      <li>
        <a href="https://www.pinterest.com/little5114" target="_blank">
          <img src="../../assets/img/icons/_ionicons_svg_logo-pinterest.svg" alt="Pinterest" />
        </a>
      </li>
      <li>
        <a href="https://www.instagram.com/thelittlejournal.neindia/" target="_blank">
          <img src="../../assets/img/icons/_ionicons_svg_logo-instagram.svg" alt="Instagram" />
        </a>
      </li>
      <li>
        <a href="https://www.tumblr.com/blog/thelittlejournalofnortheastindia" target="_blank">
          <img src="../../assets/img/icons/_ionicons_svg_logo-tumblr.svg" alt="Tumblr" />
        </a>
      </li>
    </ul>
  </div>
  <div class="modal-dialog" *ngIf="!hideModal">
    <div class="modal-content">
      <img class="modal-close" src="../../assets/img/icons/_ionicons_svg_md-close.svg" (click)="closeModal()" />
      <ul class="header-nav-modal">
        <li *ngFor="let h of headers">
          <a href="#" [routerLink]="h.route" routerLinkActive="link-active" (click)="closeModal()">{{ h.label }}</a>
        </li>
      </ul>
    </div>
  </div>
</div>
