@import '../../assets/sass/partials/utils';
@import '../../assets/sass/partials/theme-default';
@import '../../assets/sass/partials/breakpoints';
.header {
  .header-menu-list {
    height: 40px;
    width: 40px;
    cursor: pointer;
  }
  .socialIcons {
    align-self: end;
    justify-self: end;
    ul {
      display: inline-grid;
      grid-template-columns: repeat(auto-fit, minmax(min-content, 20px));
      grid-auto-columns: minmax(min-content, 20px);
      grid-auto-flow: column;
      justify-items: end;
      column-gap: 5px;

      li a img {
        width: 20px;
        height: 20px;
      }
    }
  }
}

@mixin nav-list {
  .header {
    @include style-header-footer-links('header-nav');
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    align-items: end;
    .header-menu-list {
      display: none;
    }
    .header-nav {
      display: inline-grid;
      grid-template-columns: repeat(auto-fit, minmax(100px, min-content));
      grid-auto-columns: minmax(100px, min-content);
      justify-items: center;
      align-items: center;
      grid-auto-flow: column;
    }
  }
}

@mixin hamburger {
  .header {
    @include style-header-footer-links('header-nav', false);
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    margin-top: 20px;
    .header-menu-list {
      display: block;
    }
    .header-nav {
      display: none;
    }
  }
}

@include larger-screen {
  @include nav-list();
}

@include medium-screen {
  @include hamburger();
}
@include small-screen {
  @include hamburger();
}
