<div class="header">
  <ul class="nav justify-content-start header-nav">
    <li class="nav-item">
      <a
        class="nav-link active"
        href="#"
        routerLink=""
        routerLinkActive="link-active"
        >Home</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link active"
        href="#"
        routerLink="issues"
        routerLinkActive="link-active"
        >Issues</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        href="#"
        routerLink="categories"
        routerLinkActive="link-active"
        >Categories</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        href="#"
        routerLink="aboutus"
        routerLinkActive="link-active"
        >About us</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        href="#"
        routerLink="submissions"
        routerLinkActive="link-active"
        >Submissions</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        href="#"
        routerLink="contactus"
        routerLinkActive="link-active"
        >Contact us</a
      >
    </li>
  </ul>
  <!-- <ul class="nav justify-content-end header-nav-social">
          <li class="nav-item">
            <a href="#" class="fa fa-facebook"></a>
          </li>
          <li class="nav-item">
            <a href="#" class="fa fa-twitter"></a>
          </li>
          <li class="nav-item">
            <a href="#" class="fa fa-instagram"></a>
          </li>
          <li class="nav-item">
            <a href="#" class="fa fa-pinterest"></a>
          </li>
          <li class="nav-item">
            <a href="#" class="fa fa-snapchat-ghost"></a>
          </li>
        </ul> -->
</div>
