<div class="header">
  <ul class="nav justify-content-start header-nav">
    <li class="nav-item">
      <a class="nav-link active" href="#">Issues</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Categories</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">About us</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Submissions</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Contact us</a>
    </li>
  </ul>
  <!-- <ul class="nav justify-content-end header-nav-social">
          <li class="nav-item">
            <a href="#" class="fa fa-facebook"></a>
          </li>
          <li class="nav-item">
            <a href="#" class="fa fa-twitter"></a>
          </li>
          <li class="nav-item">
            <a href="#" class="fa fa-instagram"></a>
          </li>
          <li class="nav-item">
            <a href="#" class="fa fa-pinterest"></a>
          </li>
          <li class="nav-item">
            <a href="#" class="fa fa-snapchat-ghost"></a>
          </li>
        </ul> -->
</div>
