@import '../../assets/sass/partials/theme-default';
@import '../../assets/sass/partials/utils';
@import '../../assets/sass/partials/breakpoints';
.modal-dialog {
  @include larger-screen {
    display: none;
  }

  @include small-screen {
    position: absolute;
    top: 2vh;
    left: 2vw;
    z-index: 1000;
    border: solid 1px black;
    background-color: rgba-primary(0.95);
    width: 90vw;
    min-width: fit-content;
    min-height: 100vh;
    .modal-content {
      font-size: 2rem;
      display: grid;
      grid-template-rows: min-content auto;
      row-gap: 10px;
      .modal-close {
        width: 20px;
        height: 20px;
        align-self: end;
        cursor: pointer;
        justify-self: end;
      }
      .header-nav-modal {
        display: inline-grid;
        grid-template-columns: repeat(auto-fill, minmax(10em, 1fr));
        grid-auto-columns: minmax(10em, 1fr);
        grid-template-rows: repeat(auto-fill, minmax(2em, max-content));
        grid-auto-rows: minmax(2em, max-content);
        justify-items: center;
        align-items: center;
        a {
          color: unset;
          text-decoration: none;
          @include animate-underline();
        }
      }
    }
  }
}
