<pre>
  Because pictures and words tell stories, The Little Journal invites submissions of visual artwork, (photographs and
  illustrations), creative fiction (poems and flash fiction) and creative nonfiction (interviews, personal essays and
  travel essays). We want pieces that don’t just tell a story, but make one feel, hear and think.

  Don’t worry if you’ve not been published before. We are more interested in what you have to say, than your publishing
  history. If you have any pieces that fit the requirements below, send your submission for our first issue before July
  31st, 2019 to littlejournal.ne@gmail.com.

  <b>Guidelines</b>
  Please send us only unpublished English pieces. This means that your work must not have appeared in print or online
  websites (including your blog). If you’ve posted it on your blog, we request that you remove it before submitting the
  piece to us.

  All writing pieces must be pasted in a Word document (doc or docx) with Calibri, 11 font size. If you are submitting
  more than one piece of writing, please ensure that each piece starts off on a new page. All submissions must include a
  cover letter pasted in the body of the email and two photographs of yourself attached to the email.

  Category-specific Guidelines
  Poems
  Send up to 5 poems pasted in a single Word document. Poems should not be longer than 45 lines each. We accept all styles
  of poetry except micro poetry.


  Flash Fiction
  Send up to 3 pieces of flash fiction (no more than 1000 words each).

  Personal Essays
  Send up to 3 personal essays (no more than 1000 words each).

  Travel Essays
  Send up to three travel essays (of 1000 or fewer words). We are seeking literary travel pieces of first-person account
  that convey a sense of people, place, time, and space. We love unique story lines and nuanced pieces that immerse us in
  its details. What we are not looking for is destination reviews or “how to” marketing content of any kind. To give you a
  sense of what we’d be thrilled to read is a story about a fisherman (and other interesting people you met) on a ferry
  ride to Majuli.

  Interviews
  Before submitting interviews, please start by emailing us a background on who you’d like to interview along with the
  topics you’d like to cover. We prefer in-person interviews that are no longer than 1500 words. As with other pieces, we
  like interviews that are unconventional and intellectually stimulating. Although we are an arts and literature journal,
  we are also interested in interviews of people from other spheres of human endeavor such as ecology, architecture,
  music, sociology, etc.

  Visual Content
  Send up to 5 pieces of art, photographs or illustrations as individual jpeg attachments (no larger than 5 MB). Please
  note that your submissions may be published as cover art of upcoming issues. For photographs, we’re seeking
  black-and-white as well as color photos that provide a different perspective on the world around us or tell a story.

  Send all submissions to littlejournal.ne@gmail.com and mention your submission type in the subject line along with your
  name. For example, if you are submitting three poems, write “3 Poems – Jona Dutta.”
  If you are submitting pieces across categories, mention both categories. For example: “2 Poems and 2 Photographs | Jona
  Dutta.” Please limit your submissions to two categories. We will not be publishing pieces from more than two categories
  from the same contributor.


  Response Time
  We are a small team and we review every submission with diligence, love and care that we believe every creative piece
  deserves. The estimated response time for a submission is four weeks. So, if you don’t hear from us for more than two
  months, please feel free to send a query.

  Returning contributors
  If your work has been published in the journal earlier, please wait at least three months before submitting again. If
  your submission has not been accepted, please don’t take it personally. It just means that it wasn’t right for our
  journal at this time. We’d love to see your work again, but do wait at least a month before submitting new work.

  Publication
  By submitting to The Little Journal, you grant us first publishing rights & non-exclusive electronic permissions (for
  online archival purposes). All submissions remain foremost the intellectual property of the author/artist and rights
  revert to the author/artist upon publication. However, later, if your work is published elsewhere, please credit us
  mentioning that the piece was first published in the Little Journal.

  Payment
  The Little Journal was born out of sheer love and admiration for the creative arts and we don’t charge any submission or
  reading fees.

  Being a not-for-profit journal, we cannot offer payment beyond publication, support and exposure. However, you will have
  our unconditional gratitude for trusting us with your work, and if we meet, maybe a beverage. And perhaps cake. We love
  cake.

</pre>
