<div class="main-content">
  <img src="../../../assets/img/DSCF0907.JPG" class="mainImage" alt="..." />
  <div class="imageOverlay">
    <div class="overlayText">
      A journal featuring elegant art and literary content from northeast India.
    </div>
  </div>
  <div class="articles">
    <span class="article-heading">The Latest</span>
    <ul class="article-list">
      <li class="article">
        Cras justo odio <br />
        By Anshuman
      </li>
      <li class="article">Dapibus ac facilisis in</li>
      <li class="article">Morbi leo risus</li>
      <li class="article">Porta ac consectetur ac</li>
      <li class="article">Vestibulum at eros</li>
    </ul>
  </div>
</div>
