<div class="comments">
  <h2>Comments</h2>
  <div class="separator separator-border"></div>
  <p *ngIf="!commentsForPost || commentsForPost.length === 0" style="text-align: center;">
    No Comments yet!
  </p>
  <div *ngIf="commentsForPost && commentsForPost.length > 0">
    <div class="separator"></div>
    <h3>What readers are saying</h3>
    <div class="separator"></div>
    <div class="comment-container">
      <article *ngFor="let comment of commentsForPost">
        <div class="comment-timestamp">{{ comment.timestamp | date: 'long' }}</div>
        <div class="comment-header">{{ comment.author }}</div>
        <div class="comment-content">{{ comment.comment }}</div>
      </article>
    </div>
  </div>
  <div class="separator"></div>
  <div class="separator"></div>
  <h2>Add a comment</h2>
  <form #f="ngForm" (ngSubmit)="onFormSubmit()" class="comments-form">
    <div class="separator"></div>
    <label for="author">Your name *</label>
    <input type="text" name="author" required ngModel id="name">
    <div class="width75"
      *ngIf="f.form.controls['author'] && f.form.controls['author'].status === 'INVALID' && f.form.controls['author'].touched && f.form.controls['author'].errors"
      class="error">
      Please enter a name
    </div>
    <label for="comment">Your comment *</label>
    <textarea name="comment" required maxlength="1000" ngModel id="commentdetail"
      placeholder="Not more than 1000 characters please!"></textarea>
    <div class="width75"
      *ngIf="f.form.controls['comment'] && f.form.controls['comment'].status === 'INVALID' && f.form.controls['comment'].touched && f.form.controls['comment'].errors"
      class="error">
      Please enter a comment
    </div>
    <div class="btn-group">
      <label class="btn-primary">
        <button type="submit" [disabled]="f.form.status === 'INVALID'" class="saveButton">Save
          Comment</button>
      </label>
    </div>
    <progress *ngIf="showSaveProgress"></progress>
    <p class="submitted-info" *ngIf="showSavedInfo">Your comment shall be published once it has been reviewed by our
      administrators!</p>
  </form>

</div>
