@import '../../../assets/sass/partials/utils';
.detail-container {
  margin: 0 10vw;
  display: grid;
  grid-template-columns: 20% 1fr;
  grid-template-rows: 30vh 1fr min-content;
  grid-template-areas:
    'header-image header-image'
    'aside article'
    'article-footer article-footer';
  column-gap: 20px;
  row-gap: 20px;
  align-items: baseline;
  justify-content: space-around;

  .article-header-image-container {
    grid-area: header-image;
  }
  .article-header-image-caption {
    text-align: center;
    font-size: 0.75rem;
  }

  .contributor-detail {
    grid-area: aside;
    justify-self: start;
    align-self: start;
    p {
      font-size: 0.75rem;
    }
  }
  .article-content {
    width: 100%;
    grid-area: article;
    justify-self: start;
    .photo-container {
      @include tiles-container(350px, min-content);
    }
  }
  .article-footer-container {
    grid-area: article-footer;
  }
}
