@import '../../../assets/sass/partials/utils';
@import '../../../assets/sass/partials/theme-default';
@import '../../../assets/sass/partials/breakpoints';
.separator {
  height: 8vh;
  width: 100%;
}
h1 {
  margin: 0;
}

.detail-container {
  display: grid;
  @include small-screen {
    grid-template-columns: 95vw;
    grid-template-rows: min-content min-content min-content min-content 1fr max-content max-content;
    grid-template-areas:
      'header-image'
      'caption'
      'aside'
      'description'
      'article'
      'article-footer'
      'comments';
  }

  @include medium-screen {
    grid-template-columns: 95vw;
    grid-template-rows: min-content min-content min-content min-content 1fr min-content max-content;
    grid-template-areas:
      'header-image'
      'caption'
      'aside'
      'description'
      'article'
      'article-footer'
      'comments';
  }

  @include larger-screen {
    grid-template-columns: 20% 1fr;
    grid-template-rows: min-content min-content min-content 1fr min-content max-content;
    grid-template-areas:
      'header-image header-image'
      '. caption'
      'aside description'
      'aside article'
      'article-footer article-footer'
      'comments comments';
    justify-content: space-evenly;
    margin: 0 10vw;
  }
  column-gap: 20px;
  row-gap: 20px;
  align-items: baseline;

  .article-header-image-container {
    grid-area: header-image;
  }
  .post-header-label {
    margin: 0;
    grid-area: header-image;
    align-self: center;
    justify-self: center;
  }
  .article-header-image-caption {
    grid-area: caption;
    @include image-credit;
  }
  .post-detail-description {
    grid-area: description;
    @include primary-italic-font;
  }

  .contributor-detail {
    grid-area: aside;
    justify-self: start;
    align-self: start;
    p {
      font-size: 0.75rem;
      &.bold {
        @include primary-bold-font;
      }
    }
  }
  .article-content {
    grid-area: article;
    justify-self: start;
    white-space: pre-line;
    .article-content-header {
      margin: 0 0 0.75em 0;
    }
    @include medium-screen {
      justify-self: center;
    }
    .photo-container {
      @include small-screen {
        @include tiles-container(95vw, auto, auto, 300px);
      }
      @include medium-screen {
        @include tiles-container(95vw, auto, auto, 300px);
      }
      @include larger-screen {
        @include tiles-container(auto, auto, 350px, 300px);
        //@include tiles-container(95vw, auto, auto, 300px);
      }
    }
  }
  .article-footer-container {
    grid-area: article-footer;
  }
  .article-comments {
    grid-area: comments;
  }
}
