<pre>
  If you’d like to collaborate with us

  We’re always on the lookout for talented illustrators — both emerging and established — who can produce beautiful
  editorial and narrative illustration work in response to the poetry and short fiction we publish.
  If you’re an illustrator and think your work could be a fine addition to our future issues, contact us at
  <a href="mailto:illustration@popshotpopshot.com">illustration@popshotpopshot.com</a> with a few friendly words and a link to your website or online portfolio

  Send us good cheer!
</pre>
