<div class="contactus">
  <h5>Contact Us</h5>
  <pre>
    If you have any questions, would like to collaborate with us or just send a few friendly words, write to us at
    <a href="mailto:editor@the-little-journal.com">editor@the-little-journal.com</a>

    We’re also looking for talented illustrators who can create editorial illustrations to be presented along with the
    literary content that we publish. If you’re an illustrator and would like your work to be featured, please share your
    portfolio with us.

    We are now live on Facebook, Instagram and Pinterest! Like and follow us so we can keep you posted on our work,
    submissions, news and more.
</pre>
</div>
