@import '../../../assets/sass/partials/utils';
.contactus {
  @include content-inner;
}
p {
  margin-top: 20px;
}

.socialIcons {
  margin-top: 20px;
  li {
    display: inline-block;
    margin: 0 5px;
  }
  a {
    display: inline-block;
    width: 20px;
    height: 20px;
  }
}
