/* You can add global styles to this file, and also import other style files */
/* autoprefixer grid: autoplace */
@import 'assets/stylesheets/ie.css';
@import 'assets/stylesheets/main.css';
@import 'assets/stylesheets/normalize.min.css';
@import 'assets/sass/partials/utils';
@import 'assets/sass/partials/theme-default';
@import 'assets/sass/partials/css_grid';
@import 'assets/sass/partials/breakpoints';

body {
  background-color: $color-primary;
}
$default-font-size: 18px;
$default-font-size-sm: 15px;
@mixin font-size-rwd {
  @include small-screen {
    font-size: $default-font-size-sm;
  }
  @include medium-screen {
    font-size: $default-font-size-sm;
  }
  @include larger-screen {
    font-size: $default-font-size;
  }
}
* {
  @include font-size-rwd;
}
p,
pre {
  text-align: justify;
  vertical-align: middle;
  white-space: pre-line;
  @include font-size-rwd;
  align-self: center;
}

.link-active {
  font-weight: 800;
}

@include small-screen {
  @include createHeaderStyles(10, $default-font-size-sm/16px);
}
@include medium-screen {
  @include createHeaderStyles(10, $default-font-size-sm/16px);
}
@include larger-screen {
  @include createHeaderStyles(10, $default-font-size/16px);
  .first {
    margin-top: 0.8em;
  }
}
a {
  color: $link-color;
  text-decoration-color: $link-color;
  text-decoration-line: none;
  @include primary-italic-font;
  &:visited {
    color: $link-color;
  }
  &:hover {
    color: $link-color-hover;
    text-decoration-line: underline;
  }
}
app-common-post-detail {
  .article-footer-container {
    .bio-content * {
      font-size: 0.9em;
    }
  }
}

app-photo-tiles {
  .photo-description {
    * {
      font-size: 0.9em;
    }
  }
}

.hr {
  width: 100%;
  border: 1px solid $color-secondary-2;
  margin: 5px 0;
}

em {
  @include primary-italic-font;
}

ol {
  list-style: decimal;
  margin-left: 1em;
  li {
    padding: 10px;
  }
}
