<div class="guidelines">
  <div class="h6">Guidelines</div>
  <div class="h9">General Guidelines</div>
  <p>
    Any piece of work that you send must be your own. Please send us only
    unpublished pieces. This means that your work must not have appeared in
    print or online websites (including your blog). All submissions must include
    a cover letter pasted in the body of the email and two photographs of
    yourself attached to the email. We consider pieces written in English only.
    To submit a writing piece, please paste it in a Word document (doc. or
    docx.) with Calibri, 11 size font. If you are submitting more than one piece
    of writing, please ensure that each piece starts off on a new page.
  </p>

  <div class="h6">Category-specific Guidelines</div>
  <div class="h9">Poems</div>
  <p>
    Send up to 5 poems pasted in a single Word document. Poems should not be
    longer than 45 lines each. We accept all styles of poetry except micro
    poetry.
  </p>
  <div class="h9">Flash Fiction</div>
  <p>
    Send up to 3 pieces of flash fiction (no more than 1000 words each).
  </p>
  <div class="h9">Travel Essays</div>
  <p>
    Send up to three travel essays (of 1000 or fewer words). We are seeking
    literary travel pieces of first-person account that convey a sense of
    people, place, time, and space. We love unique story lines and nuanced
    pieces that immerse us in its details. We are not looking for destination
    reviews or “how to” marketing content of any kind. To give you a sense of
    what we’d be thrilled to read is a story about a fisherman (and other
    interesting people you met) on a ferry ride to Majuli or a corner bookshop
    you came across in a remote town in Arunachal.
  </p>
  <div class="h9">Other Personal Essays</div>
  <p>
    Send up to 3 personal essays (no more than 1000 words each).
  </p>
  <div class="h9">Interviews</div>
  <p>
    Before submitting interviews, please start by emailing us a background on
    who you’d like to interview along with the topics you’d like to cover. We
    prefer in-person interviews that are no longer than 1500 words. As with
    other pieces, we like interviews that are unconventional and intellectually
    stimulating. Although we are an arts and literary journal, we are also
    interested in interviews of people from other spheres of human endeavour
    such as ecology, architecture, music, sociology, etc.
  </p>

  <div class="h9">Visual Content</div>
  <p>
    Send up to 5 pieces of art, photographs or illustrations as individual jpeg
    attachments (no larger than 5 MB). Please note that your submissions may be
    published as cover art of upcoming issues. For photographs, we’re seeking
    black-and-white as well as colour photos that provide a different
    perspective on the world around us or tell a story. Send all submissions to
    submit@the-little-journal.com and mention your submission type in the
    subject line along with your name. For example, if you are submitting three
    poems, write “3 Poems – Jona Dutta.” If you are submitting pieces across
    categories, mention both categories. For example: “2 Poems and 2 Photographs
    | Jona Dutta.” Please limit your submissions to two categories. We will not
    be publishing pieces from more than two categories from the same
    contributor.
  </p>
</div>
