@import 'theme-default';
@import 'breakpoints';

@mixin sub-container-style($height: 'none', $color: $header-background-color) {
  @if $height != 'none' {
    height: $height;
  }
  background-color: $color;
}

.page-content-container {
  display: grid;
  grid-template-columns: 95vw;
  grid-template-rows: repeat(auto-fit, minmax(30px, auto));
  grid-auto-rows: minmax(40px, auto);
  align-content: space-evenly;
  justify-content: space-evenly;
  align-items: end;
  row-gap: 20px;
  min-height: 100vh;
  .header-container {
    grid-row: 1/2;
    @include sub-container-style();
  }
  .title-container {
    grid-row: 2/3;
    @include sub-container-style();
  }
  .footer-container {
    grid-row: 4/5;
    @include sub-container-style($color: $footer-background-color);
  }
  .content {
    grid-row: 3/4;
    min-height: 65vh;
    // overflow-y: auto;
    // @include larger-screen {
    //   min-height: 20vh;
    //   height: 65vh;
    // }

    @include sub-container-style($color: $content-background-color);
  }
}
