@import 'breakpoints';
@mixin animate-underline() {
  &:after {
    content: '';
    width: 0px;
    height: 1px;
    display: block;
    background: black;
    transition: all 300ms ease-in 50ms;
  }

  &:hover:after {
    width: 100%;
  }
}

@function get-content-height($headerH, $footerH) {
  @return 100% - ($headerH + $footerH);
}

@mixin style-header-footer-links($containerul, $withBorder: true) {
  font-size: 12px;
  .#{$containerul} {
    a {
      color: $link-color;
      text-decoration: none;
      @include animate-underline();
      &.link-active {
        font-weight: 700;
      }
    }
    @if $withBorder == true {
      li:not(:last-child) {
        padding-right: 5px;
        border-right: solid 1px $color-secondary-2;
      }
    }
  }
}

@mixin coming-soon($path) {
  width: 100%;
  height: 65vh;
  background-image: URL($path);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

@mixin centre-text {
  position: relative;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin createHeaderStyles($numberOfHeaders: 4, $defaultFontSizeEm: 1) {
  $largest-font-size: (40px/16px); // Assuming largest body header to be 15px;
  $decrement: ((25/16) / $numberOfHeaders); //Assuming smallest header to be 18px, dividng the range
  @for $i from 1 through $numberOfHeaders {
    .h#{$i} {
      font-size: #{#{$largest-font-size}em};
      text-align: left;
      font-weight: 600;
      margin-top: #{#{$largest-font-size}em};
      margin-bottom: #{#{$largest-font-size}em};
    }
    $largest-font-size: $largest-font-size - $decrement;
  }
}

@mixin content-inner {
  overflow-y: auto;
}

@mixin tiles-container($max-column-size: 350px, $max-row-size: 300px, $min-column-size: auto, $min-row-size: auto) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($min-column-size, $max-column-size));
  grid-template-rows: repeat(auto-fit, minmax($min-row-size, $max-row-size));
  grid-auto-rows: minmax($min-row-size, $max-row-size);
  grid-auto-columns: minmax($min-column-size, $max-column-size);
  justify-content: space-evenly;
  align-content: space-evenly;
  grid-gap: 20px;
}

@mixin text-wrap-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin tiles-common-styling {
  border-top: 1px solid darken(rgba-secondary-2(0.7), 10%);
  padding: 10px;
}

@mixin image-credit {
  padding-right: 5px;
  justify-self: end;
  @include primary-italic-font;
  font-size: 0.5rem;
}

@mixin image-caption {
  @include image-credit;
  justify-self: center;
}

@mixin error {
  @include primary-bold-font();
  color: red;
}
